<div>
    <div class="row central">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <h3>Add a Question</h3>
                <form>
                    Título : <input type="text" ng-model="main.title" required><br/>
                    Script de criação : <textarea ng-model="main.creation" rows="2" cols="40"></textarea><br />
                    Script de povoamento : <textarea ng-model="main.population" rows="2" cols="40"></textarea><br />
                    <div class="panel panel-default" ng-repeat="pair in main.questions">
                        Pergunta : <textarea ng-model="pair.question" rows="2" cols="20"></textarea>
                        Resposta : <textarea ng-model="pair.answer" rows="2" cols="20"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="main.addQuestion()">+</button>
                    <button type="button" class="btn btn-danger" ng-click="main.removeQuestion()">-</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <h3>Questions</h3>
            </div>
        </div>
    </div>
</div>
