.central {
    text-align: center;
}

/* login view classes */

.form-pair {
    padding: 5px;
}

/* newQuestion view Classes */

.task-list {
    margin: 10px auto;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}

.nq-input {
    width: 50%;
    margin: 10px auto;
    padding: 5px;
}

/* questionList view Classes */

.question-list-container {
    margin: 5px;
    padding: 10px;
}

.question-list-container > li {
    display: flex;
    justify-content: space-between;
}

.question-header {
    color:black;
    cursor: pointer;
    display:inline-block;
    font-size: large;
}

.question-tags {
    color: gray;
    margin-right: 0px;
    display:inline-block;
}
