<div>
    <div class="row central">
        <div class="panel panel-default">
            <h3>Criar questão</h3>
            <form name="questionForm">
                Título : <input type="text" ng-model="question.form.title" required><br/>
                Background : <textarea ng-model="question.form.background" rows="2" cols="40" required></textarea><br />
                Script de criação : <textarea ng-model="question.form.creation" rows="2" cols="40" required></textarea><br />
                Script de povoamento : <textarea ng-model="question.form.population" rows="2" cols="40" required></textarea><br />
                Tags (separadas por espaço) : <input type="text" ng-model="question.form.tags" required><br/>
                <div class="panel panel-default" ng-repeat="pair in question.tasks">
                    Pergunta : <textarea ng-model="pair.task" rows="2" cols="20" required></textarea>
                    Script de Resposta : <textarea ng-model="pair.answer" rows="2" cols="20" required></textarea>
                </div>
                <button type="button" class="btn btn-primary" ng-click="question.addTask()">+</button>
                <button type="button" class="btn btn-danger" ng-click="question.removeTask()">-</button><br /><br />
                <button type="submit" class="btn btn-success" ng-click="question.submitQuestion(questionForm)">Submeter Questão</button>
            </form>
        </div>
    </div>
</div>
