<div class="container-fluid">
    <div class="row">
        <form name="questionForm">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-block">
                        <div  style="display: flex; justify-content: space-around;" >
                            <button type="submit" class="btn btn-success" ng-click="ctrl.submitQuestion(questionForm)">
                                <i class="fa fa-check"></i> Finalizar Cadastro
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="ctrl.openNewTaskModal()">
                                <i class="fa fa-plus"></i> Nova Pergunta
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title central">
                                <b>Criar questão</b>
                            </h3>
                        </div>

                        <div>
                            <div class="well" style="display: inline-block; width: 100%;">
                                <label class="control-label">Título</label>
                                <input type="text" class="form-control boxed" ng-model="ctrl.form.title" required><br/>

                                <label class="control-label">Background</label>
                                <textarea class="form-control boxed" ng-model="ctrl.form.background" rows="2" cols="40" required></textarea><br/>

                                <label class="control-label">Script de Criação</label>
                                <div class="ace-editor-style-sm" ui-ace="{
                                    theme: 'sqlserver',
                                    mode: 'sql'
                                }" ng-model="ctrl.form.creation" ng-model-options="{ debounce: 200 }">
                                </div>
                                <br />

                                <label class="control-label">Script de População</label>
                                <div class="ace-editor-style-sm" ui-ace="{
                                    theme: 'sqlserver',
                                    mode: 'sql'
                                }" ng-model="ctrl.form.population" ng-model-options="{ debounce: 200 }">
                                </div>
                                <hr>
                                <tags-input id="tags" placeholder="Tags" min-tags="0" max-tags="3" max-length="9" type="text" ng-model="ctrl.form.tags" required>
                                </tags-input>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card" ng-repeat="pair in ctrl.tasks">
                    <div class="card-block">
                        <div class="card-title">
                            <div class="title central">
                                <b>Pergunta {{$index + 1}} - </b>
                                <button type="button" class="btn btn-danger btn-sm " ng-click="ctrl.removeTask($index)">Remover</button>
                            </div>
                        </div>

                        <pre class="well">{{pair.task}}</pre>
                        <div class="ace-editor-style-sm" ui-ace="{
                            theme: 'sqlserver',
                            mode: 'sql',
                            onLoad: ctrl.readOnly
                        }" ng-model="pair.answer" ng-model-options="{ debounce: 200 }">
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
