<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Confirmar Cadastro</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-lg-6">
            <label class="control-label">Título</label>
            <div class="well">{{modalCtrl.form.title}}</div>
            <label class="control-label">Background</label>
            <div class="well">{{modalCtrl.form.background}}</div>
            <label class="control-label">Script de Criação</label>
            <div class="ace-editor-style-sm" ui-ace="{
                theme: 'sqlserver',
                mode: 'sql',
                onLoad: modalCtrl.readOnly
            }" ng-model="modalCtrl.form.creation" ng-model-options="{ debounce: 200 }"></div>
            <br>
            <label class="control-label">Script de Povoamento</label>
            <div class="ace-editor-style-sm" ui-ace="{
                theme: 'sqlserver',
                mode: 'sql',
                onLoad: modalCtrl.readOnly
            }" ng-model="modalCtrl.form.population" ng-model-options="{ debounce: 200 }"></div>
            <br>
            <label class="control-label">Tags</label>
            <div class="well">
                <span ng-repeat="tag in modalCtrl.form.tags">{{tag.text}} </span>
            </div>
        </div>
        <div class="col-lg-6">
            <div ng-repeat="pair in modalCtrl.tasks">
                <label class="control-label">Pergunta {{$index + 1}}</label>
                <div class="well">{{pair.task}}</div>
                <label class="control-label">Resposta {{$index + 1}}</label>
                <div class="ace-editor-style-sm" ui-ace="{
                    theme: 'sqlserver',
                    mode: 'sql',
                    onLoad: modalCtrl.readOnly
                }" ng-model="pair.answer" ng-model-options="{ debounce: 200 }">
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br>
    Confirma?
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="modalCtrl.cancel()"><i class="fa fa-close"></i> Cancelar</button>
    <button class="btn btn-primary" type="button" ng-click="modalCtrl.ok()"><i class="fa fa-check"></i> Confirmar</button>
</div>
